<!DOCTYPE html>
<html >
<head>
    <%- include partial/common-head.ejs %>
</head>
<body  style="width:100%">

	<%- include partial/card-list.ejs %>
	
<script type="text/javascript" src="/card-list.bundle.js" charset="utf-8"></script>

<a href="/">로그인 페이지</a>
<br>
<a href="/join">회원가입 페이지</a>



<h5>content</h5>

</body>
</html>