<!DOCTYPE html>
<html >
<head>
    <%- include partial/common-head.ejs %>
</head>
<body>

<%- include partial/common-nav.ejs %>

<link href="/javascripts/bower_components/Swiper/dist/css/swiper.min.css" rel="stylesheet">
<link href="/stylesheets/card-list-page.css" rel="stylesheet">

<script type="text/javascript" src="/card-list.bundle.js" charset="utf-8"></script>
<script src="/javascripts/bower_components/Swiper/dist/js/swiper.min.js"></script>

	<div style="height:100%">
		<%- include partial/card-list.ejs %>
	</div>


<script>
	var swiper = new Swiper('.swiper-container', {
	    direction: 'vertical'
	});
</script>

</body>
</html>