<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<nav>
    <span id="back_btn">Back</span>
    <span id="save_card_btn">Save</span>
</nav>


<div id="card_container">

</div>

<div id="menu_container">

</div>

<script type="text/javascript" src="/card-edit.bundle.js" charset="utf-8"></script>
</body>
</html>