<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<script type="text/javascript" src="/card.bundle.js" charset="utf-8"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-579f14fbebabdd9d"></script>
</body>
</html>