<!DOCTYPE html>
<html>
<head>
    <link href="/css/edit.css" rel="stylesheet">
    <meta name="title" content="<%= title %>" />
</head>

<body>
    <%- include partial/common-head.ejs %>
    <nav id="nav" class="navbar navbar-fixed-top">
        <span id="back_btn">Back</span>
        <span id="save_card_btn">Save</span>
    </nav>

    <div id="card_container">

    </div>

    <div id="menu_container">
        <div id="menu_select_container">
            <div id="menu_select_option_list" class="row">
                <div class="col-xs-3 col-md-3 text-center active" data-menu="image">
                    <img src="/resources/menu_image_icon.png" />
                </div>
                <div class="col-xs-3 col-md-3 text-center" data-menu="font">
                    <img src="/resources/menu_font_icon.png" />
                </div>
                <div class="col-xs-3 col-md-3 text-center" data-menu="fontSize">
                    <img src="/resources/menu_font_size_icon.png" />
                </div>
                <div class="col-xs-3 col-md-3 text-center" data-menu="brightness">
                    <img src="/resources/menu_brightness_icon.png" />
                </div>
            </div>
        </div>
        <div id="menu_option_container">
            <div id="image_menu_option">
                <span class="menu-img-wrap btn btn-success fileinput-button">
                    <span>Add Image</span>
                    <input id="image_upload_btn" type="file" name="file" data-url="/images/upload">
                </span>
                <img class="image-menu-item" data-img="/images/test.png" src="/images/test.png" />
                <img class="image-menu-item" data-img="/images/test.png" src="/images/test.png" />
                <img class="image-menu-item" data-img="/images/test.png" src="/images/test.png" />
                <img class="image-menu-item" data-img="/images/test.png" src="/images/test.png" />
            </div>
            <div id="font_menu_option">
                <img class="menu-item" data-font="Nanum Gothic" src="/resources/font_small.png" />
                <img class="menu-item" data-font="Gulim" src="/resources/font_normal.png" />
                <img class="menu-item" data-font="Gothic" src="/resources/font_big.png" />
            </div>
            <div id="font_size_menu_option">
                <img class="menu-item" data-fontsize="25" src="/resources/font_size_small.png" />
                <img class="menu-item" data-fontsize="30" src="/resources/font_size_normal.png" />
                <img class="menu-item" data-fontsize="35" src="/resources/font_size_big.png" />
            </div>
            <div id="brightness_menu_option">
                <img class="menu-item" data-brightness="30" src="/resources/brightness_small.png" />
                <img class="menu-item" data-brightness="50" src="/resources/brightness_normal.png" />
                <img class="menu-item" data-brightness="70" src="/resources/brightness_big.png" />
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/javascripts/bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/bower_components/jquery-ui/jquery-ui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/bower_components/blueimp-file-upload/js/jquery.iframe-transport.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/bower_components/blueimp-file-upload/js/jquery.fileupload.js" charset="utf-8"></script>
    <script type="text/javascript" src="/card-edit.bundle.js" charset="utf-8"></script>
</body>
</html>