<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <div><%= name %></div>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div>
    <label>ID</label>
    <input id="id_input" type="text" name="id"/>
</div>
<div>
    <label>PW</label>
    <input id="pw_input" type="text" name="id"/>
</div>

<div id="login_btn">Login</div>
<div id="join_btn">Join</div>

<script type="text/javascript" src="main.bundle.js" charset="utf-8"></script>
</body>
</html>