<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="wrap">
    <div>
        <label>Email</label>
        <input id="email_input" type="text" name="id" placeholder="ex@email.com" />
    </div>
    <div>
        <label id="email_error"></label>
    </div>
    <div>
        <label>PW</label>
        <input id="pw_input" type="password" name="id"/>
    </div>
    <div>
        <label id="pw_error"></label>
    </div>

    <div><input type="submit" id="login_btn" value="Login"></div>
    <input type="button" id="join_btn" value="Join"></div>
</div>

<script type="text/javascript" src="main.bundle.js" charset="utf-8"></script>
</body>
</html>