<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900">
    <link href="/css/join.css" rel="stylesheet">
</head>
<body>

<div id="container">
<div id="wrapper">
<div>
    <input type="text" id="email_input" placeholder="사용할 이메일을 입력해주세요">
</div>
<div>
	<label id ="email_error"></label>
</div>
<div>
    <input id="nick_input" type="text" placeholder="닉네임을 입력해주세요(3~12자)"/>
</div>
<div>
	<label id="nick_error"></label>
</div>
<div>
    <input id="pw_input" type="password" placeholder="비밀번호를 입력해주세요(6자이상)"/>
</div>
<div>
	<label id ="pw_error"></label>
</div>
<div>
    <input id="pw_confirm_input" type="password" placeholder="비밀번호 확인"/>
</div>
<div>
	<label id ="pw_confirm_error"></label>
</div>
<div id="join_btn">확인</div>
</div>
</div>
<script type="text/javascript" src="join.bundle.js" charset="utf-8"></script>
</body>
</html>