<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
</head>
<body>
<h1><%= title %></h1>

<div>
    <label>Email :</label>
    <input type="text" id="email_input" placeholder="ex@gmail.com">
</div>
<div>
	<label id ="email_error"></label>
</div>
<div>
    <label>Nickname :</label>
    <input id="nick_input" type="text" placeholder="3~12자"/>
</div>
<div>
	<label id="nick_error"></label>
</div>
<div>
    <label>PW :</label>
    <input id="pw_input" type="password" placeholder="6자이상"/>
</div>
<div>
	<label id ="pw_error"></label>
</div>
<div>
    <label>PW 확인 :</label>
    <input id="pw_confirm_input" type="password" placeholder="비밀번호 확인"/>
</div>
<div>
	<label id ="pw_confirm_error"></label>
</div>
<div><input type="submit" id="join_btn" value="Join"></div>

<script type="text/javascript" src="join.bundle.js" charset="utf-8"></script>
</body>
</html>