<!DOCTYPE html>
<html>
<head>
    <%- include partial/common-head.ejs %>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div>
    <label>ID</label>
    <input id="id_input" type="text"/>
</div>
<div>
    <label>PW</label>
    <input id="pw_input" type="text"/>
</div>
<div>
    <label>PW 확인</label>
    <input id="pw_confirm_input" type="text"/>
</div>

<div id="join_btn">Join</div>

<script type="text/javascript" src="join.bundle.js" charset="utf-8"></script>
</body>
</html>