
<div class="swiper-container">
	<div class="swiper-wrapper">
	<% for(var i = 0; i < data.length; i++) { %>
		<div class="swiper-slide" style="background-image:url('<%= imgIP + data[i].img %>');background-size:cover">
		</div>
	<% } %>
	</div>	
</div>