<link href="/stylesheets/common-nav.css" rel="stylesheet">
<nav class="navbar">
	<div id="navbar-container">
		
		<div class="navbar-menu">
			<% if (typeof userId !== "undefined") { %>
				<a id="myPageBtn" href="/users/<%= userId %>">
					<img class="navbar-menu-img" src="/resources/myPage.png">
				</a>
			<% } else { %>
				<a id="myPageBtn" href="/login">
					<img class="navbar-menu-img" src="/resources/myPage.png">
				</a>
			<% } %>
		</div>

		<div class="navbar-menu">
			<a id="logoBtn" class="navbar-logo">
				<img class="navbar-logo-img" src="/resources/logo.png">
			</a>
		</div>
		
		<div class="navbar-menu">
			<% if (typeof userId !== "undefined") { %>
				<a id="editCardBtn" href="/<%= userId %>/edit">
					<img class="navbar-menu-img" src="/resources/editBtn.png">
				</a>
			<% } else { %>
				<a id="editCardBtn" href="/login">
					<img class="navbar-menu-img" src="/resources/editBtn.png">
				</a>
			<% } %>
		</div>
	</div>

</nav>