<link href="/stylesheets/common-user-nav.css" rel="stylesheet">
<nav class="navbar">
	<div id="navbar-container">
		
		<div class="navbar-menu">
			<a id="myPageBtn" href="/">
				<img class="navbar-menu-img" src="/resources/myPage.png">
			</a>	
		</div>

		<div class="navbar-menu">
			<a id="logoBtn" class="navbar-logo">
				<img class="navbar-login-logo-img" src="/resources/mypage_logo.png">
			</a>
		</div>
		
		<div class="navbar-menu">
			<a id="editCardBtn" href="/cards/new">
				<img class="navbar-menu-img" src="/resources/editBtn.png">
			</a>
		</div>
	</div>

</nav>