@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
html, body {
    height:100%;
    background: #969696;
}
#userId{
	margin-left:10%;
	font-size: 24px;
	font-family: 'Nanum Myeongjo';
}
#userCardCount{
	font-size: 12px;
	font-family: 'Nanum Myeongjo';
}
#user_info{
	margin-top:30px;


}
.box{
	border-bottom:1px solid white;
	border-bottom-style: bold;
}