body{
	width : 1080px;
	height : 1920px;
	margin-left : 25%;
	margin-right : 25%;
}

#cardpage_div{
	margin : 100px;
	width : 100%;
	height : 100%;
	overflow : hidden;
	background-size : cover;
}

#cardpage_content_div{
	margin-top : 10%;
	width: 100%;
	height : 80%;
	text-align : center;
	vertical-align : center;
}

#cardpage_content_div_div{
	margin-bottom : 10%;
}

#cardpage_content{
	height : 500px;
	width : 100%;
	text-align:center;
	border-style : none;
	background-color : #000;
}

#cardpage_content_souce{
	width : 100%;
	height : 30%;
	text-align : center;
	border-style : none;
	background-color : #000;
}

#cardpage_updatedDate_div{
	width : 100%;
	height : 10%;
}

.cardpage_content_class{
	margin : auto;
	width: 100%;
	height : 10%;
}

.cardpage_source_class{
	width:100%;
}

/*
	width : 1080px;
	height : 1920px;
*/