body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    height: 8%;
}

#card_container {
    width: 100%;
    height: 60%;
    padding: 5%;
}

#menu_container {
    width: 100%;
    height: 32%;
    overflow: hidden;
}

/* start - card_item */
#card_item {
    width: 100%;
    height: 100%;
}
/* end - card_item */

/* start - menu_select_container */
#menu_select_container {
    height: 20%;
}

#menu_select_option_list {
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu_select_option_list > div {
    height: 100%;
}
/* end - menu_select_container */

/* start - menu_option_container */
#menu_option_container {
    width: 100%;
    height: 80%;
    overflow-x: scroll;
}

#menu_option_container > div {
    display: none;
    height: 100%;
    padding: 5%;
}

#image_menu_option {
    width: 200%;
}

#template_menu_option {
    width: 200%;
}

#font_menu_option {
    width: 100%;
}

#font_size_menu_option {
    width: 100%;
}

#image_menu_option > img {
    display: inline-block;
    height: 90%;
    margin: 0px 6px;
}
/* end - menu_option_container */


/* start - card_item */
.card-content-wrap {
    padding-top: 45%;
    padding-bottom: 5%;
}

.card-source-wrap {

}

.card-text-input {
    text-align: center;
}

/* end - card_item */

