body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#card_container {
    width: 100%;
    height: 70%;
}

#menu_container {
    width: 100%;
    height: 30%;
    overflow: hidden;
}

/* start - card_item */
#card_item {
    width: 100%;
    height: 100%;
}
/* end - card_item */

/* start - menu_select_container */
#menu_select_container {
    height: 20%;
    padding-top: 2%;
}

#menu_select_option_list {
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu_select_option_list > div {
    height: 100%;
    font-size: 16px;
}
/* end - menu_select_container */

/* start - menu_option_container */
#menu_option_container {
    width: 100%;
    height: 80%;
    overflow-x: scroll;
}

#menu_option_container > div {
    display: none;
    height: 100%;
    padding: 3%;
}

#image_menu_option {
    width: 200%;
}

#template_menu_option {
    width: 200%;
}

#font_menu_option {
    width: 100%;
}

#font_size_menu_option {
    width: 100%;
}

.image-menu-item {
    display: inline-block;
    height: 90%;
    margin: 0px 6px;
}

.menu-item {
    width: 32%;
    height: 92%;
    margin: 0px;
}

/* end - menu_option_container */


/* start - card_item */
.card-content-wrap {
    padding-top: 50px;
    padding-bottom: 1%;
}

.card-source-wrap {

}

.card-text-input {
    text-align: center;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

#card_content {
    width: 95%;
    height: 50px;
    margin-top: 150px;
    max-height: 450px;
    resize: none;

    background: transparent;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#card_source {
    width: 95%;
    height: 30px;
    font-size: 18px;

    background: transparent;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* end - card_item */

