@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
body {
  background-image:url("/resources/login_bg.jpg");
  background-size: cover;
}
#container{
position:relative;
top:100px;
}

#wrapper input[type="text"], #wrapper input[type="password"] {
  width: 80%;
  margin-left: 10%;
  position: relative;
  border: none;
  background: transparent;
  border-bottom: 1px solid #BDC3C7;
  font-family: 'Nanum Myeongjo';
  font-size: 1.3em;
  padding: 10px;
  color: #FFFFFF;
  transition: all .2s ease-out;
}

#wrapper input[type="text"]:required:valid, #wrapper input[type="password"]:required:valid {
  border-bottom: 3px solid #2ECC71;
}
#wrapper input[type="password"] {
  margin-top: 10px;
}

#wrapper #join_btn {
  width: 80%;
  text-align:center;
  margin-left: 10%;
  position: relative;
  margin-top: 0px;
  border: none;
  background-color: #FFFFFF;
  font-family: 'Raleway';
  color:#A3A3A3;
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
}
#wrapper .placeholder {
  margin-left: 5%;
  padding-left: 30px;
  position: absolute;
  z-index: 9999;
  font-size: .9em;
  color: #BDC3C7;
}

#email_error{
	margin-left: 10%;
  color:white;
}
#pw_error{
	margin-left: 10%;
  color:white;
}
#pw_confirm_error{
  margin-left: 10%;
  color:white;
}
#nick_error{
  margin-left: 10%;
  color:white;
}